
// $font-family: 'Merriweather', serif;
// $font-family: 'Poppins', sans-serif;
$font-stack: Merriweather, Poppins;

$light-color: #1e81b0;
$primary-color: #e28743;
$secondary-color: #fbe7b4;

$bg: #1e81b0; 