body {
    background-color: lightcyan;
}

h1 {
    color: blue;
}

h2 {
    color: blue;
    padding-left: 10px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
}

#title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#quiz {
    border-style: dotted;
    border-color: blue;
    border-radius: 15px;
    padding: 20px;
}

.questansblock {
    padding-bottom: 20px;
    border-bottom: solid 1px;
}

#button {
    color: blue;
    font-size: x-large;
    float: right;
    border-radius: 10px;
    padding: 10px;
}